### Task 1: (Connect to the supplied petsDB, and (OPTIONAL) write a function to check if the connection is done)

In [1]:
import sqlite3

In [2]:
petsDB = sqlite3.connect("petsdb")

In [3]:
def connection(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        print("Connection successful")
    except sqlite3.ProgrammingError as e:
        print("There was an error".format(e))

In [4]:
connection(petsDB)

Connection successful

In [5]:
petsDB.close()

In [6]:
connection(petsDB)

There was an error

### Task 2: (What are the different age groups in the persons database)

In [7]:
petsDB = sqlite3.connect("petsdb")

In [8]:
curs = petsDB.cursor()

In [10]:
for people, age in curs.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("There are {} people at age {}".format(people, age))

There are 2 people at age 5
There are 1 people at age 6
There are 1 people at age 7
There are 3 people at age 8
There are 1 people at age 9
There are 2 people at age 11
There are 3 people at age 12
There are 1 people at age 13
There are 4 people at age 14
There are 2 people at age 16
There are 2 people at age 17
There are 3 people at age 18
There are 1 people at age 19
There are 3 people at age 22
There are 2 people at age 23
There are 3 people at age 24
There are 2 people at age 25
There are 1 people at age 27
There are 1 people at age 30
There are 3 people at age 31
There are 1 people at age 32
There are 1 people at age 33
There are 2 people at age 34
There are 3 people at age 35
There are 3 people at age 36
There are 1 people at age 37
There are 2 people at age 39
There are 1 people at age 40
There are 1 people at age 42
There are 2 people at age 44
There are 2 people at age 48
There are 1 people at age 49
There are 1 people at age 50
There are 2 people at age 51
There are 2 people at age 52
There are 2 people at age 53
There are 2 people at age 54
There are 1 people at age 58
There are 1 people at age 59
There are 1 people at age 60
There are 1 people at age 61
There are 2 people at age 62
There are 1 people at age 63
There are 2 people at age 65
There are 2 people at age 66
There are 1 people at age 67
There are 3 people at age 68
There are 1 people at age 69
There are 1 people at age 70
There are 4 people at age 71
There are 1 people at age 72
There are 5 people at age 73
There are 3 people at age 74

### Task 3: Which age group has maximum number of people?

In [11]:
for people, age in curs.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("The maximum is {} at age {}".format(people, age))
    break

The maximum is 5 at age 73

### Task 4: How many people do not have a full name (Last name is blank/null)

In [12]:
null = curs.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in null:
    print(row)

(60,)

### Task 5: How many people has more than one pet? (*)

In [15]:
pet = curs.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in pet:
    print("The number of people with more than one pet is {}".format(row[0]))

The number of people with more than one pet is 43

### Task 6: How many pets have received treaments?

In [16]:
treat = curs.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in treat:
    print(row)

(36,)

### Task 7: How many pets have received treatment that we know the type of?

In [17]:
trtype = curs.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in trtype:
    print(row)

(16,)

### Task 8: How many pets are there from the city called "east port"

In [18]:
EP = curs.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in EP:
    print(row)

(49,)

### Task 9: How many pets are there from the city called "east port" and who received a treatment?

In [19]:
EPtreat = curs.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in EPtreat:
    print(row)

(11,)